/* tablet */
@media screen and (min-width: 1365px){
    /* Mockup création 1 */
    .container .container_mockup .mockup{
        background-image: url(img/persienneriedranceenne-mockup.png);
    }

    .container .container_mockup .page_web{
        background-image: url(img/persienneriedranceenne-mockup_web.png);
    }
    .container .container_mockup .light{
        background-image: url(img/light.png);
    }
}
/* smartphone */
@media screen and (min-width: 900px){
    .container_mockup .mockup{
        background-image: url(img/persienneriedranceenne-mockup-tablet.png);
    }

    .container_mockup .page_web{
        background-image: url(img/persienneriedranceenne-mockup-tablet_web.png);
    }
    .container_mockup .light{
        background-image: url(img/light_tablet.png);
    }
}


@media screen and (min-width: 767px){
    .container_mockup img{
        display: none;
    }
    .flex{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .container_mockup{
        flex: 0 0 50%;
        max-height: 919px;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    .right, .left{
        flex: 0 0 50%;
        max-height: 919px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .text{
        padding: 30px;
        text-align: left;
    }
    .text h2{
        font-size: 3em;
        font-weight: 600;
        margin: 10px 0;
    }
    .text h3{
        font-size: 2em;
        font-weight: 600;
        margin: 10px 0;
    }
    .text p{
        font-size: 1.5em;
        font-weight: 500;
        margin: 10px 0;
    }
    
    
    /* Mockup création 1 */
    .mockup{
        width: 100%;
        max-height: 919px;
        height: 100vh;
        background-image: url(img/smartphonemockuppersiennerie.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        position: relative;
    }
    
    .page_web{
        width: 100%;
        max-height: 919px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url(img/smartphonemockuppersiennerie_web.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        transition: 3s;
    }
    .light{
        width: 100%;
        max-height: 919px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        background-image: url(img/light_smartphone.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        transition: 3s;
        opacity: 0;
    }
    /* Effet au survole de mockup 1*/
    
    .container_mockup:hover .page_web{
        background-position-y: -100px;
        transition: all 3s;
    }
    .container_mockup:hover .light{
        opacity: 1;
        transition: 0.5s;
    }
    /* Mockup création 2 */
    .mockup_2{
        width: 100%;
        max-height: 919px;
        height: 100vh;
        background-image: url(img/fontanier-mockup.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: relative;
    }
    
    .page_web_2{
        width: 100%;
        max-height: 919px;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: url(img/persienneriedranceenne-mockup_web.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        transition: 3s;
    }
    /* Effet au survole de mockup 2*/
    
    .container_mockup:hover .page_web_2{
        background-position-y: -100px;
        transition: all 3s;
    }
}