@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1920px;
    margin: auto;
    box-shadow: 0px 0px 1px black;
}
.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container_mockup{
    text-align: center;
}
.container_mockup img{
    width: 100%;
}
.text{
    text-align: center;
}
.text h2{
    font-size: 2em;
    font-weight: 600;
    margin: 10px 0;
}
.text h3{
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
}
.text p{
    font-size: 1em;
    font-weight: 500;
    margin: 10px 0;
    text-transform: uppercase;
}


.flex.avenir{
    flex-direction: column-reverse;
}



/*  style button link website */

.link_website{
    
}

.button_website_persiennerie{
    padding: 10px;
    
    border-radius: 30px;
    background: none;
    cursor: pointer;
    margin: 20px 0;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    color: #fff;
    background-color: #4c5743;
    border: 2px solid #333b2c;
}
.link_website:hover .button_website_persiennerie{
    color: #000;
    background-color: #fff;
}

.button_website_avenir{
    padding: 10px;
    border-radius: 30px;
    background: none;
    cursor: pointer;
    margin: 20px 0;
    font-size: 1.2em;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    color: #fff;
    background-color: #8d8368;
    border: 2px solid #544a43
}
.link_website:hover .button_website_avenir{
    color: #000;
    background-color: #fff;
}